{% extends "layout.html" %}
{% block body %}
    <h3>Pick Between <em>Balanced</em>, <em>Classic</em> and <em>Custom</em> mode.<br> In Balanced mode, both start and target player will be selected from a shortlist. <br>In Classic mode, you could get anyone in the database <br> In Custom mode, you can customize the starting and target players .</h3>
    <button id="balanced">Balanced</button>
    <button id="classic">Classic</button>
    <button id="custom">Custom</button>
    <button id="menu">Menu</button>
{% endblock %}
